body {
  font-family: "Montserrat", sans-serif;
}
.font-handwriting {
  font-family: "Architects Daughter", cursive;
}
.paper-texture {
  background-color: #d1d5db;
  background-image: url("https://www.transparenttextures.com/patterns/p6.png");
}
.rough-border {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.sticky-note {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
